<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">

	<Properties>
		<Property name="LOG_PATTERN_1">%d [%p] %c{1} – %m%n</Property>
		<Property name="LOG_PATTERN_2">%d [%-6p] %c{2} – %m%n</Property>
		<Property name="LOG_PATTERN_3">%d [%p] %c – %m%n</Property>
		<Property name="LOG_PATTERN_4">%d{yyyy/MM/dd HH:mm:ss,SSS} [%-6p] %c{1} – %m%n</Property>
		<Property name="LOG_PATTERN_5">%d [%-6p] %c{1}.%M(%F:%L) – %m%n</Property>
		<Property name="LOG_PATTERN_6">%d [%-6p] %c{2}.%M(%F:%L) – %m%n</Property>
		<Property name="LOG_PATTERN_7">%d [%-6p] %c.%M(%F:%L) – %m%n</Property>
	</Properties>

	<Appenders>
		<Console name="console" target="SYSTEM_OUT">
			<PatternLayout pattern="${LOG_PATTERN_5}" />
		</Console>
	</Appenders>
	<Loggers>
		<!-- all > trace > debug > info > warn > error >fatal -->
		<!-- additivity = true nghĩa là appenders thừa kế level filter từ its ancestors, nên để = false -->
		<asyncRoot level="warn" additivity="false" includeLocation="true">
			<AppenderRef ref="console" />
		</asyncRoot>
	</Loggers>
</Configuration>